<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>investment</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <% include investJS %>
</head>
<body>
    <div class="investment">
        <% include header %>
        <div id="featureCarousel" class="titleLoop">
            <div class="feature">
                <a href="#"><img alt="Image Caption" src="../img/title1.jpg"></a>
                <div>
                    <p>
                        This is some information that can go along with an image.
                        Anything can be placed here, including images.
                    </p>
                </div>
            </div>
            <div class="feature">
                <a href="#"><img alt="Image Caption" src="../img/title2.jpg"></a>
                <div>
                    <p>
                        This is some information that can go along with an image.
                        Anything can be placed here, including images.
                    </p>
                </div>
            </div>
            <div class="feature">
                <a href="#"><img alt="Image Caption" src="../img/title3.jpg"></a>
                <div>
                    <p>
                        This is some information that can go along with an image.
                        Anything can be placed here, including images.
                    </p>
                </div>
            </div>
        </div>
        <div class="sort">
            <ul class="menu lst1">
                <li class="home current">
                    <a href="/invest/0">
                        <span>全部</span>
                        <span>全部</span>
                        <span>全部</span>
                        <span>全部</span>
                    </a>
                </li>
                <li class="about" id="food">
                    <a href="/invest/美食">
                        <span>美食</span>
                        <span>美食</span>
                        <span>美食</span>
                        <span>美食</span>
                    </a>
                </li>
                <li class="contact">
                    <a href="/invest/休闲娱乐">
                        <span>休闲娱乐</span>
                        <span>休闲娱乐</span>
                        <span>休闲娱乐</span>
                        <span>休闲娱乐</span>
                    </a>
                    <ul>
                        <li><a href="">Sub Menu</a></li>
                        <li><a href="">Sub Menu</a></li>
                    </ul>
                </li>
                <li class="twitter">
                    <a href="/invest/生活服务">
                        <span>生活服务</span>
                        <span>生活服务</span>
                        <span>生活服务</span>
                        <span>生活服务</span>
                    </a>
                </li>
                <li class="twitter">
                    <a href="/invest/教育培训">
                        <span>教育培训</span>
                        <span>教育培训</span>
                        <span>教育培训</span>
                        <span>教育培训</span>
                    </a>
                </li>
            </ul>
            <ul class="menu lst2">
                <li class="home current">
                    <a href="/invest/2">
                        <span>融资中</span>
                        <span>融资中</span>
                        <span>融资中</span>
                        <span>融资中</span>
                    </a>
                </li>
                <li class="about">
                    <a href="/invest/1">
                        <span>预热</span>
                        <span>预热</span>
                        <span>预热</span>
                        <span>预热</span>
                    </a>
                </li>
                <li class="contact">
                    <a href="/invest/3">
                        <span>成功</span>
                        <span>成功</span>
                        <span>成功</span>
                        <span>成功</span>
                    </a>
                </li>
                <li class="twitter">
                    <a href="/invest/2">
                        <span>经营中</span>
                        <span>经营中</span>
                        <span>经营中</span>
                        <span>经营中</span>
                    </a>
                </li>
                <li class="twitter">
                    <a href="/invest/3">
                        <span>分红</span>
                        <span>分红</span>
                        <span>分红</span>
                        <span>分红</span>
                    </a>
                </li>
            </ul>
         <!--   <ul class="menu">
                <li class="home current">
                    <a href="">
                        <span>最新上线</span>
                        <span>最新上线</span>
                        <span>最新上线</span>
                        <span>最新上线</span>
                    </a>
                </li>
                <li class="about">
                    <a href="">
                        <span>定向投资</span>
                        <span>定向投资</span>
                        <span>定向投资</span>
                        <span>定向投资</span>
                    </a>
                </li>
                <li class="contact">
                    <a href="">
                        <span>单笔最低出资</span>
                        <span>单笔最低出资</span>
                        <span>单笔最低出资</span>
                        <span>单笔最低出资</span>
                    </a>
                </li>
                <li class="twitter">
                    <a href="">
                        <span>融资额度最低</span>
                        <span>融资额度最低</span>
                        <span>融资额度最低</span>
                        <span>融资额度最低</span>
                    </a>
                </li>
                <li class="twitter">
                    <a href="">
                        <span>收益额度最高</span>
                        <span>收益额度最高</span>
                        <span>收益额度最高</span>
                        <span>收益额度最高</span>
                    </a>
                </li>
            </ul>-->
        </div>
        <div class="project-financing project-box" id="project-container">
            <% projects.forEach(function(data, index){ %>
            <div class="pro-finacing clearfix">
                <div class="financing-loading fl clearfix both-margin-<%=index%>">
                    <figure>
                        <a >
                            <img src="<%= data.logo %>">
                        </a>
                        <figcaption>
                            <a class="h-100" href="/dianpu?id=<%= data._id%>">
                                <h3>已筹资</h3>
                            <p>
                                <%=data.raisedfunds %>
                            </p>
                        </a>
                            
                        </figcaption>
                    </figure>
                    <div class="finacing-title clearfix">
                        <a href="" class="fl"><%=data.remarkName %></a>
                    </div>
                    <div class="finacing-progress clearfix fl">
                        <div class="pro-bar bar-100 color-turquoise animated progress" data-pro-bar-percent="<%= (data.raisedfunds/data.wholeMoney)*100%>" data-pro-bar-delay="300">
                            <div class="pro-bar-candy candy-rtl"></div>
                        </div>
                    </div>
                    <p class="proPer fl per"><%= (data.raisedfunds/data.wholeMoney)*100%></p>
                    <p class="fl mar-10">%</p>
                    <div class="finacing-situation clearfix">
                        <div class="whole fl">
                            <span>融资金额</span>
                            <span>￥<%=data.wholeMoney%></span>
                        </div>
                        <div class="single fl">
                            <span>单笔投资</span>
                            <span class="per"><%=data.wholeMoney/data.buyParts%></span>
                        </div>
                        <div class="time fl">
                            <span>认购份数</span>
                            <span><%=data.buyParts%></span>
                        </div>
                    </div>
                </div>
            </div>

            <% }) %>
        </div>
        <div class="page-wrapper"></div>
        <div class="dream">
            <img src="/img/renrentou.jpg">
            <img src="/img/rrt_lc.gif">
        </div>
        <div class="now">
            <a href="">发起我的梦想</a>
        </div>
        <div class="under-text clearfix">
            <div class="text-l fl">
                <h3>为什么选择人人投？</h3>
                <p>我们人人投网站是一家使用<span>股权众筹方式，为实体店铺开分店</span>提供融资服务，帮助融资方快速融资开分店 ，并且帮助投资人找到优质项目的互联网金融服务平台。</p>
            </div>
            <div class="text-r fr">
                <h3>我们对项目方和投资方的利益做了考虑</h3>
                <p>项目方对项目经营的控制权、知识产权、核心技术等可以得到保护。</p>
                <p>资金来自于多投资人的众筹，融资更高效。</p>
                <p>投资人可以不参与经营并获得店铺盈利分红。</p>
                <p>投资人可以分散资金投资多家店铺，降低风险。</p>
            </div>
        </div>
    </div>
    <% include footer %>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.progress').each(function() {
            var t = $(this).attr('data-pro-bar-percent');
            $(this).attr('data-pro-bar-percent' ,parseInt(t));
        });
    })
    </script>
</body>
</html>